431000/source/XML&JSON/BDC_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="INFO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QLR" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FSQRMC" type="xs:string"/>
                            <xs:element name="FZJHM" type="xs:string"/>   
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
